{% extends "base/base_dashboard.html" %}

{% block title %}حذف کلاس{% endblock %}

{% block content %}

<div class="max-w-md mx-auto bg-white shadow rounded-lg p-6">

    <h1 class="text-lg font-bold mb-4 text-red-600">حذف کلاس</h1>

    <p class="text-sm mb-4">
        آیا مطمئن هستید که می‌خواهید کلاس
        <span class="font-bold">{{ obj.name }}</span>
        را حذف کنید؟
    </p>

    <form method="post">
        {% csrf_token %}

        <button type="submit"
                class="w-full bg-red-600 text-white py-2 rounded-lg text-sm">
            حذف کلاس
        </button>
    </form>

</div>

{% endblock %}